.div {

  border-radius: 8px;
  background-color: #C5D6DB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  align-items: center;
  justify-content: center;


}

.titre {
  font-weight: bold;
}