.header {
  background-color: #070707;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  top: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  z-index: 1000;
}

.div {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.header h1 {
  margin: 0;
  color: aliceblue;
  font-size: 1.5rem;
}

.nav {
  display: flex;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav ul li {
  margin-right: 20px;
  position: relative;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: font-size 0.2s ease-in-out;
}

.nav ul li a:hover {
  font-size: 1.1rem;
}

.dropdownMenu {
  display: none;
  position: absolute;
  background-color: #001c3cc9;
  padding: 10px;
  list-style: none;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
  min-width: 200px;
}

.dropdownMenu a {
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.dropdownMenu a:hover {
  background-color: #2c6ed7;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  background-color: #001C3C;
  text-align: center;
  padding: 10px 0;
}

.mobileMenu a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
}

@media (max-width: 768px) {
  .nav ul {
    display: none;
  }

  .burger {
    display: flex;
  }

  .mobileMenu.active {
    display: flex;
  }
}


/* User Info (Nom de l'utilisateur) */
.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #f0f0f0; /* Fond gris clair */
  padding: 8px 12px; /* Espacement interne */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userInfo span {
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  text-transform: capitalize;
}

/* Bouton de déconnexion */
.Button {
  background-color: #FF5733;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.Button:hover {
  background-color: #FF2A00;
}

.Button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 87, 51, 0.3); /* Ombre pour un focus plus visible */
}

/* Pour les petits écrans, afficher uniquement le prénom sans le bouton de déconnexion */
@media (max-width: 768px) {
  .userInfo {
      gap: 5px;
  }

  .userInfo span {
      font-size: 14px;
  }

  .Button {
      font-size: 12px;
      padding: 4px 8px;
  }
}
